body {
    background-color: #b5b2b2f0;
    color: #141111;
    font-size: 30px;
  }
  
  a {
    color: #ffffff;
    font-size: 18px;
  }
.sidebar {
    background-color: #171010f0;
    color: #fcfcfc;
    font-size: 25px;
}
